body {
    background-image: url("/images/wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    background-color: rgba(206, 164, 26, 0.856);
    display: block;
    width: 100%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    height: 20%;
}

h1 {
    margin-top: 7%;
    margin-left: 10%;
    font-size: 64px;
    border:solid;
    padding: 2% 2% 2% 2%;
}
#logo{
    display:inline-flex;
    width: 100%;
    padding-top: 5%;
}

header ul{
    display: inline-flex;
    clear: left;
    margin-left: 20%;
}
header li {
    display: inline;
    padding-right: 5%;
    margin-right: 40%;
}

header a{
    margin-left: 10%;
    color: white;
}

.breakfast,
.lunch,
.dinner{
    width: 50%;
    margin-left: 20%;
    text-decoration: none;
    border: solid;
}

.breakfast{
    background-color: green;
}

.lunch{
    background-color: rgb(117, 83, 8);
}

.dinner{
    background-color: red;
}

footer{
    background-color: rgb(206, 164, 26, 0.856);
    border-bottom-left-radius: 20;
    border-bottom-right-radius: 20%;
    height: 10%;
}

footer p {
    padding-top:2%;
}

h2 {
    margin-left: 40%;
}

p{
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    margin-left: 20%;
}
