
body {
    background-image: url("../images/woodbackground.jpg"); /*Vecteezy.com*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}
header {
    background-color: rgba(206, 164, 26, 0.856);
    display: block;
    width: 100%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    height: 20%;
    border: solid;
    border-color: rgb(49, 48, 48);
}
#strip{
    display: block;
    float:right;
    width: 100%;
    height: 35px;
    
    
}
#strip ul{
    margin-top: 0;
    display: inline-flex;
    clear: left;
    float: left;
    margin-left: 75%;
    
}
#strip li {
    display: inline;
    padding-right: 5%;
    margin-right: 40%;
    width:20%;
    
}

#burger{
    margin-top: 4%;
}

h1 {
    margin-top: 7%;
    margin-left: 10%;
    font-size: 64px;
    border:solid;
    padding: 2% 2% 2% 2%;
}
#logo{
    display:inline-flex;
    width: 100%;
    padding-top: 5%;
    margin-left: 2%;
}

header ul{
    display: inline-flex;
    clear: left;
    margin-left: 25%;
}
header li {
    display: inline;
    padding-right: 5%;
    margin-right: 40%;
}

header a{
    margin-left: 10%;
    color: white;
}

#greeting{
    text-align: center;
    color: whitesmoke;
    font-size: 48px;
}

#special{
        text-align: center;
        color: gold;
        font-size: 48px;
    }


.breakfast,
.lunch,
.dinner,
#special{
    width: 50%;
    margin-left: 25%;
    text-decoration: none;
    border: solid;
}

.breakfast{
    background-color: gold;
    background-image: url("../images/eggs.png");
    background-repeat: no-repeat;
    
}

.lunch{
    background-color: rgb(199, 105, 43);
    background-image: url("../images/burgers.png");
    background-repeat: no-repeat;
}

.dinner{
    background-color: rgba(79, 184, 48);
    background-image: url("../images/bento.png");
    background-repeat: no-repeat;
    margin-bottom: 5%;
}

footer{
    background-color: rgb(206, 164, 26, 0.856);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    height: 10%;
    border: solid;
    border-color: rgb(49, 48, 48);
}

footer p {
    padding-top:2%;
}

h2 {
    margin-left: 40%;
}

p{
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    margin-left: 20%;
}
