
body {
    background-image: url("https://user-images.githubusercontent.com/64719075/114284685-87937000-9a06-11eb-8f07-7ef1a7501a1e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}
header {
    background-color: rgba(206, 164, 26, 0.856);
    display: block;
    width: 100%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    height: 20%;
}
#burger{
    margin-top: 4%;
}

h1 {
    margin-top: 7%;
    margin-left: 10%;
    font-size: 64px;
    border:solid;
    padding: 2% 2% 2% 2%;
}
#logo{
    display:inline-flex;
    width: 100%;
    padding-top: 5%;
    margin-left: 2%;
}

header ul{
    display: inline-flex;
    clear: left;
    margin-left: 25%;
}
header li {
    display: inline;
    padding-right: 5%;
    margin-right: 40%;
}

header a{
    margin-left: 10%;
    color: white;
}

#greeting{
    text-align: center;
}

.breakfast,
.lunch,
.dinner{
    width: 50%;
    margin-left: 25%;
    text-decoration: none;
    border: solid;
}

.breakfast{
    background-image: url("https://user-images.githubusercontent.com/64719075/114284870-c118ab00-9a07-11eb-9986-ca3a53c319f3.jpg");
}

.lunch{
    background-color: rgb(117, 83, 8);
}

.dinner{
    background-image:url("https://user-images.githubusercontent.com/64719075/114284972-72b7dc00-9a08-11eb-981e-ebf7a7aca67d.jpg");
}

footer{
    background-color: rgb(206, 164, 26, 0.856);
    border-bottom-left-radius: 20;
    border-bottom-right-radius: 20%;
    height: 10%;
}

footer p {
    padding-top:2%;
}

h2 {
    margin-left: 40%;
}

p{
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    margin-left: 20%;
}
